<div id="about-main" class="container-fluid section">
    <div class="container">
        <h3 class="font-weight-bold text-center heading">About Us</h3>
        <br>
        <div class="row justify-content-around">
            <div class="col-11 col-md-8 text-center lead">
                DStv Dish Installers is a DStv Accredited installation contractor
                specializing in residential and commercial DStv Installations
                across the whole Western Cape.
            </div>
        </div>
    </div>

</div>