<div id="actions" class="container section">
    <div class="row justify-content-around">
        <div class="col-md-9">
            <div class="row justify-content-around">
                <div class="col-md-3 action">
                    <a href="tel:+27 76 303 4744">
                        <div class="row justify-content-around">
                            <div class="action-image">
                                <img src="../resources/img/fax.svg">
                            </div>
                        </div>
                        <div class="row text-center justify-content-around">
                            <div>
                                <h5 class="font-weight-bold">Call Us Now</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 action">
                    <a href="mailto:info@dstvdishinstallation.co.za">
                        <div class="row justify-content-around">
                            <div class="action-image">
                                <img src="../resources/img/mail-2.svg">
                            </div>
                        </div>
                        <div class="row text-center justify-content-around">
                            <div>
                                <h5 class="font-weight-bold">Email Us</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 action">
                    <a href="contact.php#contact-form">
                        <div class="row justify-content-around">
                            <div class="action-image">
                                <img src="../resources/img/information.svg">
                            </div>
                        </div>
                        <div class="row text-center justify-content-around">
                            <div>
                                <h5 class="font-weight-bold">Request a Quote</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>