<div id="main" class="container-fluid">
    <div class="container">
        <br><br>
        <h1 style="font-size: 54px;" class="font-weight-bold text-center pt-5">DStv Dish Installers</h1>
        <h1 style="font-size: 32px;" class="font-weight-bold text-center pt-5">Affordable. Professional. Accredited.
        </h1>
        <div class="row justify-content-around pt-3">
            <div class="col-11 col-lg-8">
                <p class="lead text-center">
                    DStv Dish Installers is an independent DStv and Satellite TV installation
                    company based in Cape Town. We specialize in all DStv installations and OpenView.
                    We pride ourselves in the quality of our work.
                </p>
            </div>
        </div>
    </div>
</div>
