<div class="container section">
    <h3 class="heading text-center font-weight-bold">Contact Details</h3>
    <br><br>
    <div class="row justify-content-around">
        <div class="col-11 col-md-5 mb-5">
            <h5 class="font-weight-bold">DStv Dish Installers</h5>
            <table>
                <tbody>
                    <tr>
                        <td>Milnerton, Cape Town</td>
                    </tr>
                    <tr>
                        <td>Phone: &nbsp; <a href="tel:+27 82 622 1793"><span class="fa fa-phone"></span>082 622 1793</a></td>
                    </tr>
                    <tr>
                        <td>Email: &nbsp; <a href="mailto:info@dstvdishinstallation.co.za"><span
                                    class="fa fa-envelope"></span> info@dstvdishinstallation.co.za</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h5 class="font-weight-bold">Opening Hours</h5>
            <table>
                <tbody>
                    <tr>
                        <td>Monday to Saturday: <strong>06:00</strong> to <strong>23:00</strong></td>
                    </tr>
                    <tr>
                        <td>24/7 Emergency Services Calls</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-11 col-md-6 mb-5">
            <iframe style="margin: auto; min-height: 500px;"
                src=https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d423610.53425857885!2d18.79938547956553!3d-33.95508383254025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sza!4v1590598429884!5m2!1sen!2sza"
                width="100%" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
        </div>
    </div>

</div>