<div id="services" class="container section">
    <h3 class="text-center heading font-weight-bold">Our Services</h3>
    <br><br><br>

    <div class="row justify-content-around">
        <div class="col-md-4 service">
            <h5>Explora Installation</h5>
            <div class="row justify-content-around mb-3">
                <div class="col-9">
                    <img src="../resources/img/single-view.png">
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-11">
                    Get the DStv Explora installation for quality entertainment
                    over a range of packages.
                </div>
            </div>
        </div>

        <div class="col-md-4 service">
            <h5>ExtraView Installation</h5>
            <div class="row justify-content-around mb-3">
                <div class="col-9">
                    <img src="../resources/img/extra-view.png">
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-11">
                    DStv Extra View allows you to on two seperate TVs 
                    using one account!
                </div>
            </div>
        </div>

        <div class="col-md-4 service">
            <h5>TripleView Installation</h5>
            <div class="row justify-content-around mb-3">
                <div class="col-9">
                    <img src="../resources/img/extra-view.png">
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-11">
                    Enjoy all the entertainment on three TVs with the unbeatable
                    Triple View deal.
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-md-4 service">
            <h5>Signal Realignment</h5>
            <div class="row justify-content-around mb-3">
                <div class="col-9">
                    <img src="../resources/img/dstv-dish.jpg">
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-11">
                    E48 Errors? Lost signal? Our snappy team will get your satellite
                    realigned really quickly!
                </div>
            </div>
        </div>

        <div class="col-md-4 service">
            <h5>Cable Rewiring</h5>
            <div class="row justify-content-around mb-3">
                <div class="col-9">
                    <img src="../resources/img/dstv-cable.jpeg">
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-11">
                    Get your old cables replaced for the cheapest rates and enjoy
                    true HD resolution.
                </div>
            </div>
        </div>

        <div class="col-md-4 service">
            <h5>DStv Fiber Installation</h5>
            <div class="row justify-content-around mb-3">
                <div class="col-9">
                    <img src="../resources/img/dstv-fibre.jpg">
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-11">
                    Connect your installation using Fibre instead of a traditional satellite 
                    using our termination unit!
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>